.avatar {
    float: right;
    margin-top: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

.profile_page{
    background-color: rgba(0, 0, 0, 0.499);
    align-items: center;
    margin: 20px;
    width: 97%;
    height: 700px;
    border-radius: 10px;
}
.profile_text{
    font-size: 20px ;
    color: antiquewhite;
    align-items: center;
    padding-top: 200px;
}


h1{
    color: rgb(59, 156, 241);
    font-family: cursive ;
    font-size: 40px;

}
body{
    background-color: rgb(42, 39, 39);
}
.education{
        background-color: rgba(0, 0, 0, 0.499);
        align-items: center;
        margin: 20px;
        width: 94%;     
        border-radius: 10px;
        padding: 20px;
}
.eduction_detail{
    background-color: rgba(39, 50, 36, 0.549);
    align-items: center;     
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: rgb(97, 156, 203);
   }
.skill{
    background-color: rgba(0, 0, 0, 0.499);
    align-items: center;
    margin: 20px;
    width: 94%;     
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row ;
}
.skill_item{
    background-color: rgba(36, 30, 30, 0.858);
    align-items: center;
    color: aliceblue;
    margin: auto ;
    width: 100px;     
    border-radius: 10px;
    padding: 10px;
}
.skill_img{
    height: 100px;
    width: 100px;
    text-align:;
}
